@use '../../styles/_variables';

.weather-empty-state {
    background: #6b9bd1;
    border: 1.5px dashed rgb(255 255 255 / 30%);
}

.weather-error {
    background: linear-gradient(135deg, #ffa3b8 0%, #ff8ba0 100%);
}

.weather-loading {
    background: linear-gradient(135deg, #5a9fd4 0%, #4a8ac4 100%);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.weather-local-time,
.weather-info {
    text-align: center;
    color: white;
}

.weather-info {
    margin-top: var(--space-4);

    p {
        margin: 0;
    }
}

.weather-icon {
    background: white;
    border-radius: var(--space-8);
    margin: var(--space-8) auto;
}
