@use '../../styles/_breakpoints';
@use '../../styles/_variables';

.surface,
.column > * {
    @include variables.surface($bg: white, $radius: variables.$space-20);

    width: 100%;
}

.surface:hover,
.column > *:hover {
    @include variables.hover-elevate;
}

@include breakpoints.mq-mobile {
    .container {
        align-items: stretch;
    }

    .chat {
        min-height: 200px;
        margin-bottom: 10px;
        flex: 1 1 auto;
    }
}
