@import '../../styles/_breakpoints';
@import '../../styles/_variables';

.surface,
.column > * {
    @include surface($bg: white, $radius: $space-20);

    width: 100%;
}

.surface:hover,
.column > *:hover {
    @include hover-elevate;
}

@include mq-mobile {
    .container {
        align-items: stretch;
    }

    .chat {
        min-height: 200px;
        margin-bottom: 10px;
        flex: 1 1 auto;
    }
}
