@use '../../styles/_breakpoints';
@use '../../styles/_variables';

.preview-card {
    display: flex;
    gap: var(--space-12);
    padding: var(--space-12);
    background: white;
    border-radius: var(--space-12);
    margin-bottom: var(--space-12);
    align-items: flex-start;
    box-shadow: 0 2px 6px rgb(0 0 0 / 4%);
}

.preview-image {
    img {
        border-radius: var(--space-12);
    }
}

.preview-title {
    font-size: 15px;
    color: #111;
    font-weight: 700;
}

.preview-summary {
    font-size: 14px;
    color: #555;
}

.preview-content {
    flex: 1 1 auto;
    padding: var(--space-8);
    min-height: calc(145px + var(--space-8));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.source-cloud {
    display: flex;
    gap: var(--space-8);
    flex-wrap: wrap;
    margin-top: var(--space-8);
}

.source-badge {
    display: inline-block;
    padding: 4px var(--space-8);
    background: #f1f5f9;
    color: #334155;
    border-radius: var(--space-8);
    font-size: var(--space-12);
    text-decoration: none;
}

@include breakpoints.mq-mobile {
    .preview-card {
        flex-direction: column;
        gap: var(--space-8);
    }

    .preview-image {
        margin: auto;
    }
}
